{% extends "booths/base.html" %}

{% load static %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    
    <label for="districts">Select your district:</label>

    <select name="districts" id="districts">
      <option value="0">Select a district</option>
      {% for district in districts %}
        <option value="{{ district.id }}">{{ district.name }}</option>
      {% endfor %}
    </select>

    <select name="assemblies" id="assemblies">

    </select>
    
    <button type="submit">Submit</button>
  </form>

  <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}